body *{
    display: flex;
}
button{
    background-color: pink;
}

.calculator{
    
    flex-direction: column;
    border: 10px red solid;
}
.display{
    background-color: #EDD2F3;
    padding: 10px;
    
}
.misc{
    
}
.keypad{
    
    flex-direction:row;
    border: 10px brown solid;
    
}
.key{
    /*drop shadow?*/
    
}
.left{
    flex-direction: column;
    border: 10px pink solid;
}
.right{
    flex-direction: column;
    border: 10px magenta solid;
}