
body *{
    display: flex;
}
button{
    background-color: pink;
}

.calculator{
    
    flex-direction: column;
    border: 10px red solid;
    width:fit-content;
    height:auto;
    
}
.display{
    background-color: #EDD2F3;
    padding: 2px;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    
}
.misc{
    
}
.keypad{
    
    flex-direction:row;
    border: brown solid
    
}
.key{
    /*drop shadow?*/
    
}
.left{
    flex-direction: column;
    border: pink solid;
}
.left .middle{
    flex-direction: column;
    
    
}
.right{
    flex-direction: column;
    border: magenta solid;
}